@charset "utf-8";

/* 基本色 */
:root {
  --main-color: #5d9ab2;
  --accent-color: #bf6a7a;
  --dark-color: #2b5566;
}

body {
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.conA {
  text-align: center;
}

.conA h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
}

.conA p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
